*{
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    background-color:rgb(15, 56, 118);
    height : 90vh;
    color: white;
    

}
.section-1{
    display: flex;
    justify-content: space-between;
    padding: 25px 160px;
}
.nav ul li{
    display:flex;
    list-style: none;
    column-gap: 20px;
    /* color: white; */
}

.heading-text{
    font-size: 32px;
}
.paragraph-text{
    padding-top: 20px;
    font-size: 19px;
}
.button-1{
    margin-top: 45px;
}
.button-design{
    padding: 12px 27px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
}


.our-services{
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin: 40px 0px;
    margin: 60px 0px;
    font-weight: 500;
}
.card-1{
    background-color:rgb(229, 82, 28);
    width: auto;
    height: auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.card-2{
    background-color:rgb(237, 237, 27);
    width: auto;
    height: auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.card-3{
    background-color:rgb(97, 126, 212);
    width: auto;
    height: auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.card-4{
    background-color:antiquewhite;
    width: auto;
    height: 300px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.card-head{
    padding-bottom: 16px;
    font-size: 26px;
}
.card-para{
    padding-bottom: 16px;
}
.cards-icon{
    font-size: 80px;
    padding-bottom:20px ;
    padding-top: 25px;
}
.cards-links{
    list-style: none;
    text-decoration: none;
    color: black;
    
}
.card-link{
    padding-bottom: 10px;
}

.cards{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 0px 15px;
    margin-bottom: 30px;

}
.footer-section{
    height: 40vh;
    background-color:rgb(15, 56, 118);
}
.footer-section-1{
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-size: 35px;
}